app = "igdownloader"
primary_region = "sin"

kill_signal = "SIGINT"
kill_timeout = 5

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "3000"
  COOKIES_DIR = "/data/cookies"

[[mounts]]
  source = "cookies"
  destination = "/data"

[http_service]
  internal_port = 3000
  auto_start_machines = true
  auto_stop_machines = false
  min_machines_running = 1
  force_https = true

[[services]]
  internal_port = 3000

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [[services.http_checks]]
    interval = "10s"
    timeout = "5s"
    grace_period = "5s"
    method = "get"
    path = "/"
