body {
    background: #0d0f14;
    font-family: Arial;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.subtext {
    text-align: center;
    margin-bottom: 30px;
    opacity: 0.7;
}

.box {
    background: #1a1d24;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 12px;
    background: #4cafef;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #6cc6ff;
}

.result {
    margin-top: 10px;
    font-size: 14px;
    word-wrap: break-word;
}
